.loadingSpinner{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 5px solid var(--primary);
    border-radius: 50%;
    border-top-color: var(--surface);
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}