.browser{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1;
    min-height: calc(80vh - 6rem);
    height: 100%;
    width: 100%;
}

.browserBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    height: 3rem;
    border-radius: 10px 10px 0 0;
}

.browserBarButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
}

.browserBarAddress{
    display: flex;
    flex: 1;
    padding-right: 1rem;
  
    input{
        width: 100%;
        height: 1.5rem;
        border-radius: 5px;
        border: none;
        outline: none;
        padding-left: 0.5rem;
        &:focus{
            border: 1px solid #b1b0b0;
        }
    }
}

.browserContent{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    flex: 1;
    min-height: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    iframe,
    embed{
        width: 100%;
        height: 100%;
        border: none;
        background-color: #fff;
    }
}




